@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&family=Sacramento&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}